
.btn-dev{
    padding: 0.8rem;
    font-size: 1rem;
    border: 0;
    border-radius: 6px;
    outline: none;

    &.primary{
        background-color: #00a6ff;
        color: white;
    }
    &.success{
        background-color: #29ca8b;
        color: white;
    }
    &.danger{
        background-color: #ff6262;
        color: white;
    }
}


.card-dev{
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    background: #fff;
    display: block;
    position: relative;
  }

.card-dev-body{
    padding: 1rem;
    display: block;
}


.card-dev-footer{
    padding: 1rem;
    display: block;
}